<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Proyecto Machine Learning</title>
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#rl").click(function() {
                $("#formulario_rl").toggle();
            });

             $("#rf").click(function() {
                $("#formulario_rf").toggle();
            });
        });
    </script>
</head>

<body style="background: #74ebd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<br>
<br>
<br>
<br>
<h1 align="center">Medicinas contra el cancer</h1>
<br>
<br>
<br>
<br>
<br>


<div class="container" align="center">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.ytimg.com/vi/mHAbIjVntS8/maxresdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Regresion Logistica</h5>
    <p class="card-text">Es un tipo de análisis de regresión utilizado para predecir el resultado de una variable categórica</p>
   <button type="button" class="btn btn-primary" id="rl">Empezar</button>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://lh5.googleusercontent.com/Bz91bUYOV4a7VOMrznXib-NfJHClnXuLtNi3u71xhT8TgaFG2QZNbLqPjOUaUH0m-sXzWPC27dBIrM3FVt7n7W15nrPXgS1SBH0pmc79UUMyzHoc2WDszfAlQzxMfWNWTEjYa2A" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Random Forest</h5>
    <p class="card-text">un método de aprendizaje conjunto para clasificación , regresión y otras tareas que operan mediante la construcción de una multitud de árboles de decisión en el momento del entrenamiento y la salida de la clase que es el modo de las clases (clasificación) </p>
    <button type="button" class="btn btn-primary" id="rf">Empezar</button>
  </div>
</div>
    </div>
  </div>
</div>


<br>
<div id="formulario_rl" style="display: none;">
    <form action="/regresion" method="POST" style="text-align: center;">
        <div class="form-group">
            <input name="max" placeholder="max"  required>
            <input name="min" placeholder="min" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Clasificar</button>
        </div>
    </form>
</div>

<br>
<div id="formulario_rf" style="display: none;">
    <form action="/randonF" method="POST" style="text-align: center;">
        <div class="form-group">
            <input  name="max1" placeholder="max"  required>
            <input name="min1" placeholder="min" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Clasificar</button>
        </div>
    </form>
</div>


    <!-- footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>